<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
<form action="/book/add" method="POST">
    <table>
    <table>
        <tbody>
            <tr>
                <td>名称：</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>作者：</td>
                <td><input type="text" name="author"></td>
            </tr>
            <tr>
                <td>价格：</td>
                <td><input type="text" name="price"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </tbody>
    </table>
</table>
</form>
</body>
</html>